[build-system]
build-backend = "poetry_dynamic_versioning.backend"
requires = [
  "poetry-core<2,>=1",
  "poetry-dynamic-versioning",
]

[tool.poetry]
name = "tap-neon"
version = "0.0.0"
description = "`tap-neon` is a Singer tap for Neon Serverless Postgres, built with the Meltano SDK for Singer Taps."
authors = ["Edgar Ramirez <edgarrm358@gmail.com>"]
keywords = ["ELT", "singer.io", "Neon Serverless Postgres"]
license = "Apache 2.0"
readme = "README.md"
homepage = "https://github.com/edgarrmondragon/tap-neon"
repository = "https://github.com/edgarrmondragon/tap-neon"
documentation = "https://github.com/edgarrmondragon/tap-neon#readme"

[tool.poetry.dependencies]
python = "<3.12,>=3.8"
singer-sdk = "~=0.31.0"

[tool.poetry.group.dev.dependencies]
pytest = ">=7.3.1"

[tool.poetry.scripts]
# CLI declaration
"tap-neon" = "tap_neon.tap:TapNeon.cli"

[tool.ruff]
ignore = ["ANN101", "DJ", "PD"]
line-length = 88
select = ["ALL"]
src = ["tap_neon"]
target-version = "py38"

[tool.ruff.flake8-annotations]
allow-star-arg-any = true

[tool.ruff.isort]
known-first-party = ["tap_neon"]
required-imports = ["from __future__ import annotations"]

[tool.ruff.per-file-ignores]
"noxfile.py" = ["ANN"]
"tests/*" = ["ANN"]

[tool.ruff.pydocstyle]
convention = "google"

[tool.pytest.ini_options]
addopts = "-vvv"

[tool.mypy]
python_version = "3.10"
warn_unused_configs = true

[tool.poetry-dynamic-versioning]
enable = true
format-jinja = """
    {%- if distance == 0 -%}
        {{ serialize_pep440(base, stage, revision) }}
    {%- elif revision is not none -%}
        {{ serialize_pep440(base, stage, revision + 1, dev=distance, metadata=[commit]) }}
    {%- else -%}
        {{ serialize_pep440(bump_version(base), stage, revision, dev=distance, metadata=[commit]) }}
    {%- endif -%}
"""
metadata = true
style = "pep440"
vcs = "git"
